:root {
    --primary-50: #e4f0ff;
    --primary-100: #cbdcf0;
    --primary-200: #b2c9e2;
    --primary-300: #99b6d4;
    --primary-400: #8093c6;
    --primary-500: #6770b8;
    --primary-600: #4f4e9e;
    --primary-700: #383a84;
    --primary-800: #21236a;
    --primary-900: #0a0c50;
    --primary-950: #000033;
}